* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_body {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.halves-holder {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;

  height: 100vh;
  width: 100%;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
  border: 1px solid green;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-side {
  background-color: #5f4b8bff;
}

.right-side {
  background-color: #e69a8dff;
}

.score-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  /* put the score at the top right of the screen */
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .halves-holder {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
    height: 50%;
  }
}
